* {
    margin: 0;
    padding: 0;
  }
  
  body {
    width: 800px;
    margin: 20px auto;
  }
  
  .logo,
  .logo img,
  #title {
    float: left;
  }
  
  header {
    padding-bottom: 20px;
  }
  
  #title h2 {
    font-family: 'Kristi', cursive; 
    font-size: 32px;
    margin-top: -8px;
  }
  
  #title h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    margin-top: -7px;
    color: #888;
    font-size: 10px;
  }
  
  .logo-title {
    clear: both;
  }
  
  .logo-title::after {
    content: "";
    display: table;
    clear: both;
  }
  
  header div {
    display: inline;
  }
  
  .logo img {
    margin-right: 8px;
  }
  
  main {
    padding-top: 30px;
    clear: both;
  }
  
  section h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
  }
  
  .subtitle {
    margin-top: -6px;
    color: #ccc;
  }
  
  section p {
    text-indent: 20px;
    margin: 20px 0;
  }
  
  p {
    font-family: 'Noto Serif', serif;
    font-size: 15px;
  }
  
  .mainImg {
    margin: 20px 0 0 0;
    max-width: 800px;
    height: auto;
  }
  
  .printIcon {
    float: right;
  }
  
  main h6 {
    display: inline;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
  }
  
  form {
    background-image: url("../images/list-bg.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    padding: 50px 50px;
    font-family: 'Patrick Hand', cursive;
    font-size: 24px;
  }
  
  label {
    display: block;
  }
  
  fieldset {
    width: 350px;
    border: none;
    color: #555;
  }
  
  fieldset:first-of-type {
    float: left;
  }
  
  input {
    margin-right: 10px;
    opacity: .5;
    vertical-align: middle;
  }
  
  input:checked {
    opacity: 0.4;
  }
  
  .strike {
      text-decoration: line-through;
  }
  
  .socialMedia {
    float: right;
    margin-top: 8px;
  }
  
  .socialMedia img {
    margin: 0px -1px;
  }
  
  #rss-email {
    margin-left: 10px;
  }
  
  .divider:last-of-type{
    margin-top: 25px;
  }
  
  
  #bio {
    padding: 20px 0;
  }
  
  #bio img {
   margin-right: 25px;
  }
  
  #bio img,
  #bio div {
    float: left;
  }
  
  #bio button {
    float: right;
    font-size: 15px;
    background-color: rgb(187, 107, 12);
    border: none;
    color: white;
    padding: 15px 40px;
    margin-top: 10px;
  }
  
  .divider {
    height: 12px;
    width: 100%;
  }
  
  #bio div {
    width: 500px;
  }
  
  #fancyHr {
    clear: both;
  
  }
  
  #fancyHr img {
    text-align: center;
  }
  
  #fancyHr hr {
    padding: 0px;
    border: none;
    border-top: medium solid #e0dcdc;
    text-align: center;
  }
  
  #fancyHr hr::after {
    content: url('../img/small-logo.png');
    display: inline-block;
    position: relative;
    top: -1em;
  }
  
  footer h4 {
    margin-bottom: 8px;
    font-family: 'Noto Serif', serif;
  }
  
  footer h6 {
    margin: 0 auto;
    text-align: center;
    font-family: 'Noto Serif', serif;
    color: #ccc;
  }
  
#hr {
    background-image: url(/assets/hr-img.png);
    background-repeat: repeat;
    height: 20px;
}
.img{
    background-image: url(/assets/list-bg.png);
}