header{
    height: 100px;
   margin: 40px;
   width: 750px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.img{
    float:right;
    position: relative;bottom:  30px ;


}
.div{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
  
}
form{
    background-image:url('https://raw.githubusercontent.com/LTUC/amman-201d12/main/class-10/lab-a/lab-assets/list-bg.png') ;
    font-size: 25;
    width:100% ;
     -webkit-columns: 40px 2;  
    -moz-columns: 60px 2; 
    columns: 60px 2; 
    text-align: left;
    padding-left: 10px;
   font-weight: bold;


}
main div {
    width:50% ;
    position:relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
   
}

footer{
    margin-top: 40px;
}
.h2{
    margin-left: 450px;
    margin-top: 100px;
}
.p2{
    text-align: center;

}
footer input{
    float:right;

    height: 40px;
    color: rgb(255, 255, 255);

    background-color: brown;

    
}
footer{
    height: 100px;
    margin: 40px;
    width: 750px;
     display: block;
     margin-right: auto;
     margin-left: auto;
}